body {
   scroll-behavior: smooth;
}

.portfolio-item {
   margin-bottom: 30px;
}

.btn.btn-primary.btn-area, .btn.btn-primary.btn-contactar-profesional{
   margin: auto;
   display: block;
   background: #034f84;
   font-weight: 500;
   font-size-adjust: auto;
}

img.rounded-circle.img-fluid.d-block.mx-auto.responsive{
   width: auto;
   height: auto;
   max-height: 200px;
   max-width: 200px;
}

.btn.btn-primary.btn-area.collapsed .fa-chevron-down, .btn.btn-primary.btn-area .fa-chevron-right{
   display: none;
}

.btn.btn-primary.btn-area.collapsed .fa-chevron-right, .btn.btn-primary.btn-area .fa-chevron-down{
   display: inline-block;
}

i.fa {
   cursor: pointer;
   margin-right: 5px;
}

.collapsed ~ .panel-body {
   padding: 0;
}













