.portfolio-item {
   margin-bottom: 30px;
}

.btn.btn-primary.btn-area, .btn.btn-primary.btn-contactar-profesional{
   margin: auto;
   display: block;
   background: #034f84;
   font-weight: 500;
   font-size-adjust: auto;
}


img.rounded-circle.img-fluid.d-block.mx-auto.responsive{
   width: auto;
   height: auto;
}













