body {
   scroll-behavior: smooth;
   overflow-y: scroll;
   width: 100%;
   height: 100vh;
   padding-top: 65px;
}

.my-4{
   margin-left: auto;
}

ul.left-slider {
   height: auto;
   width: auto;
   position: fixed;
   top: 30%;
   left: 0;
   margin: 0;
   padding-top: 20px; 
   padding-left: 5px;
   z-index: 1;
}

ul.left-slider li{
   list-style: none;
}

ul.left-slider li a{
   display: block;
   text-decoration: none;
   height: 30px;
   line-height: 30px;
   font-size: auto;
   background: #034f84;
   width: 200px;
   color: white;
   margin:4px 0;
   padding-left: 15px;
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px; 
}

.col-md-11.seccion-texto {
   margin-left: auto;  
}

.separador-secciones{
   width: 100%;
   height: 56px;
   background: black;
   color:white;
   font-size: 40px;
   text-align: center;
   padding: 0;
   margin: 0;
}

h3.seccion-titulo {
   text-align: center;
}

img.img-fluid.rounded.mb-3.mb-md-0 {
   display: block;
   margin: 0 auto;
}