.container {
  margin: auto;
}
.carousel-inner {
  /* make sure your .items will get correct height */
  height: 100%;
}

.carousel-item {

  background-position: 50% 50%;
  height: 100%;
}
.carousel{
  width: 100%;
}

h3.card-title::after {
    content:' ';
    display:block;
    border:2px solid #034f84;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}

.card.servicio {
  margin: 0 auto;
  border-color: #034f84;
  border-radius: 0 5% 5% 5%;
  border-width: thin thin thin thick;
  margin-bottom: 20px;
  box-shadow: -10px 10px 15px 3px #88888894;
}

.tituloinicio , .copetetitulo {
    text-align: center;
}

.card-link {
  float: right;
}
