body {
   padding-top: 56px;
}

.navbar {
	background: #034f84;
	opacity: 0.96;
  	box-shadow: 0px 3px 3px 3px #88888894;
}

.nav-link, .navbar-brand {
   color: white;
   font-family: Verdana, sans-serif;
}

.nav-link:hover {
   color: #034f84;
   background: white;
   opacity: 90%;
}

a.nav-link {
   text-align: center;
}

.navbar-toggler {
   color: rgba(255,255,255,.5);
   border-color: rgba(255,255,255,.1);
   background-color: #034f84;
}
.navbar-toggler-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

footer {
   background: #034f84;
}