

.navbar {
	background: #734d26;
}

.nav-link {
	color: white;
}

.nav-link:hover {
	color: black;
}

#logo {
	max-height: 100px;
	max-width: 200px;
}

#footer {
	background: black;
	opacity: 0.9;
	color: white;
}

.far, .fas {
	margin: 5px;
}
.copyright {
	float: right;
}

.contacto {
	float: left;
}

